.users {
  padding-top: 140px;
  padding-bottom: 70px;
}

.usersList {
  margin-bottom: 50px;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
  gap: 20px;

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(2, 344px);
    gap: 16px;
  }
  @media screen and (min-width: 1024px) {
    grid-template-columns: repeat(3, 282px);
    gap: 29px;
  }
  @media screen and (min-width: 1170px) {
    grid-template-columns: repeat(3, 370px);
    gap: 29px;
  }
}

.userCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #FFFFFF;
  border-radius: 10px;
}

.userImage {
  margin-bottom: 20px;
  border-radius: 50%;
  object-fit: cover;
}

.userEmail,
.userPhone,
.userName,
.userPosition {
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.userName {
  margin-bottom: 20px;
}

.showMoreBtn {
  display: block;
  margin: 0 auto;
}

.tooltip_styles {
  background-color: var(--black);
  padding: 3px 16px;
  border-radius: 4px;
}