.hero {
  margin: 0 auto;
  max-width: 1170px;
  padding-top: 40px;
  padding-bottom: 71px;
  background-image: url('../../assets/hero.jpg');
  background-size: cover;

  @media screen and (min-width: 768px) {
    padding-top: 89px;
    padding-bottom: 88px;
    background-image: url('../../assets/hero-tablet.jpg');
  }
  @media screen and (min-width: 1024px) {
    padding-top: 164px;
    padding-bottom: 163px;
    background-image: url('../../assets/hero-desktop.jpg');
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.heading {
  margin-bottom: 21px !important;
  color: #ffffff;

  @media screen and (min-width: 768px) {
    max-width: 380px;
  }
}

.text {
  margin-bottom: 32px;
  color: #ffffff;

  @media screen and (min-width: 768px) {
    max-width: 380px;
  }
}