:root {
  --primary-color: #f4e041;
  --secondary-color: #00bdd3;
  --black: rgba(0, 0, 0, 0.87);
  --bg-color: #f8f8f8;
  --desktop-lg: 1170px;
  --desktop: 1024px;
  --tablet: 768px;
  --mobile: 360px;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  background-color: var(--bg-color);
  line-height: calc(26 / 16);
  overflow-y: scroll;
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  max-width: var(--mobile);
  padding: 0 16px;

  @media screen and (min-width: 768px) {
    max-width: var(--tablet);
  }
  @media screen and (min-width: 1024px) {
    max-width: var(--desktop);
  }
  @media screen and (min-width: 1170px) {
    max-width: var(--desktop-lg);
  }
}

.subTitle {
  margin-bottom: 50px;
  text-align: center;
  font-weight: 400;
  font-size: 40px;
  line-height: 1;
}

.link {
  background-color: var(--primary-color);
  padding: 4px 19px;
  min-width: 100px;
  border-radius: 80px;
  text-align: center;
  transition: all 250ms ease-out;

  &:hover,
  &:focus {
    background: #FFE302;
  }

  &:disabled {
    background: #B4B4B4;
    color: rgba(255, 255, 255, 0.87);
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
p,
ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
button {
  border: none;
  font-family: inherit;
  cursor: pointer;
  padding: 0;
  color: inherit;
  font-size: inherit;
  background-color: transparent;
}
input {
  outline: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
